@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@200&display=swap');

*{
    font-family: 'Trispace', sans-serif;
    margin: 0%;
    padding: 0%;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.7em;
    background-color: #264653;
    padding: 1em;
    color: #00f5d4;
}
.nav-bar img{
    width: 40px;
}
.container{
    margin-left: 2em;
    margin-top: 1em;
    font-size: 2em;
}
.container h1,li{
    margin-bottom: 1em;
}

ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #ff595e; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }